html body {
    background-color: lightgoldenrodyellow;
}

.popup-wrapper {
    height: 440px;
    width: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: lightgoldenrodyellow;

    &::-webkit-scrollbar {
        display: none;

    }
    .switch-wrapper{
        position: fixed;
        right: 20px;
        top:10px;
    }
}