.popup-wrapper{
    width: 300px;
    .popup-header{
        width: 300px;
        height: 80px;
    }
    .history-mock{
        width: 300px;
    }
    .add-mock{
        width: 300px; 
        height: 200px;
    }
  
  }
  